<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign up Form</title>
    <style>
        body {
            font-family: sans-serif;
        }
        h1 {
            color: blue;
            text-align: center;
        }
        h2 {
            color: brown;
            text-align: center;
        }
        h3{
            color: black;
            text-align: center;
        }
         p {
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>To Do Page</h1>
    
     <div class="centered">

        <form action="/submit" method="POST">
            <label for="name">Item Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="description">Item description:</label><br>
            <input type="name" id="name" name="name"><br>
            <label for="item_id">Item Id:</label><br>
            <input type="number" id="item_id" name="item_id"><br>
            <label for="item_uuid">Item UUID:</label><br>
            <input type="hidden" name="item_uuid" value="550e8400-e29b-41d4-a716-446655440000"><br>
            <label for="item_hash">Item Hash:</label><br>
            <input type="hidden" name="item_hash" value="e3b0c44298fc1c149afbf4c8996fb924..."><br>
            <input type="submit" value="Submit">
        </form>
     </div>
</body>
</html>